apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${app_name}-api-deployment
  namespace: ${app_name}
  labels:
    app: ${app_name}-api
spec:
  replicas: ${api_server_deployment_replica_count}
  selector:
    matchLabels:
      app: ${app_name}-api
  template:
    metadata:
      labels:
        app: ${app_name}-api
    spec:
      containers:
      - name: ${app_name}-api
        image: registry.digitalocean.com/${app_name}/api:${api_server_deployment_image_tag}
        env:
            - name: CSRF_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-server-csrf-token-secret
                  key: value
            - name: JWT_ACCESS_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-server-jwt-access-token-secret
                  key: value
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongodb-private-uri
                  key: value
            - name: MONGO_CA_CERT
              valueFrom:
                secretKeyRef:
                  name: mongodb-ca-cert
                  key: value
            - name: NEO4J_USERNAME
              valueFrom:
                secretKeyRef:
                  name: neo4j-username
                  key: value
            - name: NEO4J_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: neo4j-password
                  key: value
            - name: NEO4J_URI
              valueFrom:
                secretKeyRef:
                  name: neo4j-uri
                  key: value
            - name: DO_SPACE_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: do-space-endpoint
                  key: value
            - name: DO_SPACE_BUCKET
              valueFrom:
                secretKeyRef:
                  name: do-space-bucket
                  key: value
            - name: DO_SPACE_BUCKET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: do-space-bucket-access-key
                  key: value
            - name: DO_SPACE_BUCKET_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: do-space-bucket-secret-key
                  key: value
            - name: FRONTEND_ORIGIN
              value: https://${frontend_subdomain}${app_name}.com
            - name: FRONTEND_ORIGIN_WWW
              value: https://www.${frontend_subdomain}${app_name}.com
            - name: PRERENDER_SERVER
              value: distnode-prerender-service.distnode.svc.cluster.local:3003
        ports:
        - containerPort: 3001
        livenessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 5
          periodSeconds: 3
      imagePullSecrets:
      - name: docker-cfg
