apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${app_name}-api-deployment
  namespace: ${app_name}
  labels:
    app: ${app_name}
spec:
  replicas: ${api_server_deployment_replica_count}
  selector:
    matchLabels:
      app: ${app_name}
  template:
    metadata:
      labels:
        app: ${app_name}
    spec:
      containers:
      - name: ${app_name}-api
        image: registry.digitalocean.com/${app_name}/api:${api_server_deployment_image_tag}
        env:
            - name: JWT_ACCESS_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-server-jwt-access-token-secret
                  key: value
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongodb-private-uri
                  key: value
            - name: MONGO_CA_CERT
              valueFrom:
                secretKeyRef:
                  name: mongodb-ca-cert
                  key: value
            - name: FRONTEND_ORIGIN
              value: ${frontend_subdomain}${app_name}.com
        ports:
        - containerPort: 3001
      imagePullSecrets:
      - name: docker-cfg
