apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${app_name}-auth-deployment
  namespace: ${app_name}
  labels:
    app: ${app_name}-auth
spec:
  replicas: ${auth_server_deployment_replica_count}
  selector:
    matchLabels:
      app: ${app_name}-auth
  template:
    metadata:
      labels:
        app: ${app_name}-auth
    spec:
      containers:
      - name: ${app_name}-auth
        image: registry.digitalocean.com/${app_name}/auth:${auth_server_deployment_image_tag}
        env:
            - name: JWT_ACCESS_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-server-jwt-access-token-secret
                  key: value
            - name: JWT_REFRESH_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-server-jwt-refresh-token-secret
                  key: value
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongodb-private-uri
                  key: value
            - name: MONGO_CA_CERT
              valueFrom:
                secretKeyRef:
                  name: mongodb-ca-cert
                  key: value
            - name: NEO4J_USERNAME
              valueFrom:
                secretKeyRef:
                  name: neo4j-username
                  key: value
            - name: NEO4J_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: neo4j-password
                  key: value
            - name: NEO4J_URI
              valueFrom:
                secretKeyRef:
                  name: neo4j-uri
                  key: value
            - name: DOMAIN_NAME
              value: ${app_name}.com
            - name: FRONTEND_ORIGIN
              value: https://${frontend_subdomain}${app_name}.com
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 3
      imagePullSecrets:
      - name: docker-cfg
